// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#items {
  padding: 10px;
  box-shadow: 2px 2px grey;
  background-color:#6f85f7;
  color:white;
}

.container {
  box-shadow: 2px 4px lightgrey;
  padding:10px;
}

.button {
  border-radius: 5px;
  background-color:lightblue;
  text-decoration:none;
  padding:15px;
  text-align:center;
  color:white;
  font-weight:bold;
}
